services:

  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - db:/var/lib/postgresql/data/
    env_file:
      - ./.env

  backend:
    build: .
    restart: always
    volumes:
      - .:/app
    depends_on:
      - db
    env_file:
      - ./.env

    ports:
      - "8000:8000"

volumes:
  db: